* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 400;
  color: #333;
  overflow-y: hidden;
}

.center-text {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

footer p {
  font-weight: 300;
  font-size: 1.0em;
}

.ui.segment.no-margin {
  margin: 0 !important;
  border: 0 !important;
  border-radius: 0;
  padding-bottom: 8px !important;
}
