html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,	del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	margin:0;
	padding:0;
	text-decoration:none;
	outline:none;
	border:none;
	font-size: 100%;
	list-style:none;
	font-family:Verdana;
	-webkit-text-size-adjust:none;
}
html{
	width:100%;
	min-height:100%;
	-webkit-font-smoothing: antialiased;
	cursor:default;
}
body{
	width:100%;
	height:100%;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	background-color:white;
}
a {
	cursor:pointer;
}



/*************** CABECERA ***************/
header {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
	min-width: 960px;
	margin:0 auto;
	background-color: #005ea8;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-size:30px;
	/*border-bottom:5px solid #CCCCCC;
	box-shadow: 0px 0px 10px 1px rgba(210, 210, 210, 0.75);
	-moz-box-shadow: 0px 0px 10px 1px rgba(210, 210, 210, 0.75);
	-webkit-box-shadow: 0px 0px 10px 1px rgba(210, 210, 210, 0.75);*/
}
header > h1{
	margin-top:8px;	
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-size:26px;
	position: absolute;
	left: 30px;
	line-height: 35px;
}

/*************** CONTENIDO ***************/
#contents {
	position:relative;
	/*margin-top:75px;
	margin-bottom:10px;*/
	margin-left:auto;
	margin-right:auto;
	width: 960px;
	min-height:500px;
}

#contents > div#elements {
	width: 100%;
	padding: 5px;
	text-align: justify;
	margin: 60px 0px 20px 0px;
	clear: both;
	float: left;
}
#contents >  div#elements > h2{
	float:left;
	width:400px;
	margin:5px;
}
#contents >  div#elements > h5{
	float:left;
	width:100%;
	text-align: center;
	font-size: 20px;
	font-weight:normal;
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

div#elements > img{
	display: block;   
	margin-left: auto;   
	margin-right: auto; 
	max-width: 750px;
	max-height: 300px;
}




/*------------------------ MENSAJE ------------------------*/
#mensaje {
	z-index:2000;
}
#mensaje p{
	text-align:center;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 30px;
}
#mensaje h7{
	font-size: 12px;
}
.noTitleStuff .ui-dialog-titlebar{display:none;}
#mensajefinal{
	text-align:center;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 30px;
}
/*------------------------ DIALOG ------------------------*/
.ui-dialog{ 
	display:none;
}
.ui-dialog .ui-dialog-title{ 
	color:#fff;
}





/*------------------------ FOOTER ------------------------*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
	width:100%;
	min-width: 920px;
	background-color: #fff;
	border:1px solid #ccc;
	box-shadow: 0px 0px 10px 1px rgba(210, 210, 210, 0.75);
	-moz-box-shadow: 0px 0px 10px 1px rgba(210, 210, 210, 0.75);
	-webkit-box-shadow: 0px 0px 10px 1px rgba(210, 210, 210, 0.75);
	z-index: 50;
}




/*------------------------ ZONA INTERACTIVA ------------------------*/
.mainpanel {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	padding-bottom:175px;
}


.mainpanel  div#text {
    position:relative;
	width: 100%;
	height:auto;
	min-height:100px;
	font-size: 24px;
	text-align:center;
}









/*------------------------ COLOR TEXTO SELECCIONADO ------------------------*/
::-moz-selection{
    background: #ffeb74; /* color de fondo */
    color: #0095da; /* color de texto */
}
::selection{
    background: #ffeb74; /* color de fondo */
    color: #0095da; /* color de texto */
}
::-webkit-selection {
    background: #ffeb74; /* color de fondo */
    color: #0095da; /* color de texto */
} 







/*------------------------PARA ATRIBUTOS VÃDEO, FILE, IMAGEN & AUDIO ------------------------*/
.attrAudio,[video],[file],[image]{
    cursor:pointer;
	filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.attrAudio:hover,[video]:hover,[file]:hover,[image]:hover{
	filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}
.yooigo, yoveo, yofoto, yofile{
    width:auto;
    height:50px;
    margin-right:5px;
	display: inline-block;
}
.yooigo img, yoveo img, yofoto img, yofile img{
    width:auto;
    height:50px;
}

video{
	overflow-y: hidden;
	overflow-x: hidden;
}

video:-moz-full-screen        
video:-webkit-full-screen,
video:-moz-full-screen,
video:-ms-full-screen,
video:-o-full-screen,
video:full-screen
{ max-height: 100%;
	max-width: 100%; }

	
	
[draggable="true"] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-drag: element;
  user-select: none;
}








/*------------------------ESTILOS PARA LA CAJA AYUDA------------------------*/
div#fonAyudaDiv {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 61;
	background-color: transparent;
}
div#ayudaDiv {
	font-family:Arial Black,Verdana;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 500px;
	margin-top: -261px;
	margin-left: -411px;
	z-index: 62;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(204, 204, 204);
	padding: 10px;
	text-align: left;
	border:none;
	
	box-shadow: 0px 0px 10px 1px rgba(210, 210, 210, 0.75);
	-moz-box-shadow: 0px 0px 10px 1px rgba(210, 210, 210, 0.75);
	-webkit-box-shadow: 0px 0px 10px 1px rgba(210, 210, 210, 0.75);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
div#ayudaDiv .cerrar {
	color:black;
	position: relative;
	float: right;
	/*top: 5px;*/
	right:5px;
	font-size: 15px;
	font-weight: bold;
	width: 14px;
	height: 14px;
	padding: 5px;
	border: 1px transparent solid;
	text-align: center;
	z-index: 2000;
	line-height:14px;
}
div#ayudaDiv .cerrar:hover {
	border: 1px black solid;
	background-color: white;
	cursor:pointer;
}
div#ayudaDiv .cerrar p {
	color: black;
	position:relative;
	float: right;
	top:-17px;
	left: -2px;
	
}
div#ayudaDiv .ui-widget-header {
	position: relative;
	float: left;
	top:-35px;
	width:100%; 
	text-align:center;
	padding-bottom:7px; 
	padding-top:7px; 
	font-size: 15px;
	margin-top:5px; 
	font-weight: bold;
	border-bottom: 1px solid #bbb;
	cursor:move;
}


div#ayudaDiv .cajaAyudaScroll{
	background-color: transparent;
	top: 50px;
	position: absolute;
	padding:0px 20px 20px 20px;
	width:760px;	
	height: 437px;
	overflow-y:auto;
}


div#ayudaDiv .cajaAyudaScroll .textoTitulo {
	font-family:Arial Black,Verdana;
	color:#3696de;
	position: relative; 
	text-align:center;
	font-size: 18px;
	font-weight: bold; 
	padding-bottom:3px;
	border-bottom:1px solid #999;
	margin-bottom:5px;
}
div#ayudaDiv .cajaAyudaScroll .descrAct {
	position: relative; 
	text-align:justify; 
	font-size: 15px;
	padding:5px;	
	background-color:#edf8fc;
	margin-bottom:20px;

}
div#ayudaDiv .cajaAyudaScroll table {
    position: relative;
	width:100%;
	background-color:#edf8fc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
div#ayudaDiv .cajaAyudaScroll table  tr > td:first-child{
    position: relative;
	width:100px;
	background-color:#E6E6E6;
	box-shadow: 0px 0px 2px 0px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(119, 119, 119, 0.75);
}
div#ayudaDiv .cajaAyudaScroll table  tr > td{
    position: relative;
	background-color:transparent;
	font-size:13px;
}

div#ayudaDiv .cajaAyudaScroll table  tr{
    position: relative;
}

div#ayudaDiv .cajaAyudaScroll table  td > span{
	display:block;
	padding:0px 3px;
	text-align:center;
}

div#ayudaDiv .cajaAyudaScroll table  td > div{	
    position: relative;
	width:50px;
	height:40px;
	margin:0px auto;
	margin-top:3px auto;
	
}
div#ayudaDiv .cajaAyudaScroll table #ayuda-anterior > div { background-position: 0 -5px; }
div#ayudaDiv .cajaAyudaScroll table #ayuda-siguiente > div { background-position: -50px -5px; }
div#ayudaDiv .cajaAyudaScroll table #ayuda-otravez > div { background-position: -100px -5px; }
div#ayudaDiv .cajaAyudaScroll table #ayuda-cerrar > div { background-position: -149px -5px; }
div#ayudaDiv .cajaAyudaScroll table #ayuda-notas > div  { background-position: -200px -5px; }
div#ayudaDiv .cajaAyudaScroll table #ayuda-audio > div { background-position: -252px -5px; }
div#ayudaDiv .cajaAyudaScroll table #ayuda-comprobar > div { background-position: -300px -5px; }
div#ayudaDiv .cajaAyudaScroll table #ayuda-ayuda > div { background-position: -348px -5px; }
div#ayudaDiv .cajaAyudaScroll table #ayuda-imprimir > div { background-position: -400px -5px; }
div#ayudaDiv .cajaAyudaScroll table  tr > td > div:after{  
	position: absolute;  
	content: "";  
	border: .7em solid transparent; 
	border-left-color: #E6E6E6;  
	left: 75px;  
	top: 50%;  
	margin-top: -.1em;  
	transition: all .3s ease-out; 
} 
