/****************************
//// WIDGET ANAYA Barra  ////
// Estilos para las iconos interactivos.
// En el 'control.json' puedes mostrar la barra y decidir los iconos inactivos.
//		btnBarraAct: mostrarEn = (LugarParaMostrar)
//		btnBarraAct: botonesInactivos = (NombreDeLosBotones)
// La funcionalidad de la barra se encuentra en el js 'jquery.control.js'
***************************/

[data-anaya=barraInferior]{
	position:absolute;
    width: 100%;
	height:100%;
	z-index:50;
	margin:0 0;
	font-size:1em;
	background-color: #e6e6e6;
}

[data-anaya=barraInferior] > ul {
   list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
	height:100%;
}

[data-anaya=barraInferior] > ul > li:not(.anaya-state-inactivo){
    cursor: pointer;
}
[data-anaya=barraInferior] > ul > li{
	display: block;
	position: relative;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	margin: 0px 0px;
	margin-bottom: 25px;
	float: left;
    width: auto;
    min-width: 55px;
	height:100%;
	text-align:center;	
	
}
[data-anaya=barraInferior] > ul > li > div{	
	width: 50px;
	height: 38px;
	margin: auto;
	margin-top:3px;
	margin-bottom:-3px;
}


[data-anaya=barraInferior] > ul > li  > span{
	text-decoration: none;
	font-weight:bold;
	color: #65003b;
	width:100%;
	font-size: 0.7em;
}

[data-anaya=barraInferior] > ul > li[data-anaya=logo] >  a{
	display:block;
    width: 100%;
	height:100%;
}
[data-anaya=barraInferior] > ul > li[data-anaya=logo] >  a > img{
	margin:auto;
	position:absolute;
	top:0;
	left:0;
	right:0;
    bottom:0;
}
[data-anaya=barraInferior] > ul > li[data-anaya=logo]:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform: scale(1.1);
}


[data-anaya=barraInferior] > ul > li:not([animar]):not(#logo):not(.anaya-state-inactivo):hover{
	box-shadow: inset 0px 0px 10px 4px rgba(000, 000, 000, 0.10);
	-moz-box-shadow: inset 0px 0px 10px 4px rgba(000, 000, 000, 0.10);
	-webkit-box-shadow: inset 0px 0px 10px 4px rgba(000, 000, 000, 0.10);
}

[data-anaya=barraInferior] > ul > li:not(.anaya-state-inactivo):hover > div{	
}

[data-anaya=barraInferior] > ul > li:not(.anaya-state-inactivo):active > div{
    -webkit-transform: rotate(7deg) scale(0.9);
    -moz-transform: rotate(7deg) scale(0.9);
    -o-transform: rotate(7deg) scale(0.9);
    writing-mode: lr-tb;
}

[data-anaya=barraInferior] > ul > li[data-anaya=audio] > div,[data-anaya=barraInferior] > ul > li[data-anaya=audio] > span{
	position:relative;
	z-index:1;
}


 /*Estados
---------------*/
.anaya-state-inactivo {
	cursor: default;
	opacity: 0.3;
	filter: alpha(opacity=30); /* IE 7 and Earlier */
}
/* Posicionamiento */
.anaya-icon-anterior { background-position: 0 -5px; }
.anaya-icon-siguiente { background-position: -50px -5px; }
.anaya-icon-otravez { background-position: -100px -5px; }
.anaya-icon-cerrar { background-position: -149px -5px; }
.anaya-icon-notas { background-position: -200px -5px; }
.anaya-icon-audio { background-position: -252px -5px; }
.anaya-icon-comprobar { background-position: -300px -5px; }
.anaya-icon-ayuda { background-position: -348px -5px; }
.anaya-icon-imprimir { background-position: -400px -5px; }






 /*SLIDER FONDO BTN AUDIO
---------------*/
#sliderAudio{
	display:block;
	position:absolute;
	z-index:0;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity:0.5;
	background: rgba(0,156,218,1); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(0,156,218,1) 0%, rgba(200,235,250,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,156,218,1)), color-stop(100%,rgba(200,235,250,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0,156,218,1) 0%,rgba(200,235,250,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0,156,218,1) 0%,rgba(200,235,250,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(0,156,218,1) 0%,rgba(200,235,250,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(0,156,218,1) 0%,rgba(200,235,250,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009CDA', endColorstr='#C8EBFA',GradientType=1 ); /* IE6-9 */
	background-size: 0% 51%;
	background-repeat: no-repeat;
}




/******* ANIMAR BOTON *******/
.animateBoton {
	position: relative;
	animation-name:animateBotons;
	animation-duration: 2500ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-name: animateBotons;
	-webkit-animation-duration: 2500ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
}

@keyframes animateShadow{
	0% {  	
	}
	50% {		
		box-shadow: inset 0px 0px 6px 4px #fff;
		-moz-box-shadow: inset 0px 0px 6px 4px #fff;
		-webkit-box-shadow: inset 0px 0px 6px 4px #fff;	  	
	}
	100% {	
	}
}



@keyframes animateBotons{
	0% {  
		top:0;
		-moz-transform: scale(1);
	}
	25% {
		top:-10px;
		-moz-transform: scale(1);
		  	
	}
	30% {
		top:-10px;
		-moz-transform: scale(1.1);
		-moz-transform:rotate(8deg);		  	
	}
	33% {
		top:-10px;
		-moz-transform: scale(1.1);
		-moz-transform:rotate(-8deg);		  	
	}
	36% {
		top:-10px;
		-moz-transform: scale(1.1);
		-moz-transform:rotate(8deg);		  	
	}
	40% {
		top:-10px;
		-moz-transform: scale(1.1);
		-moz-transform:rotate(-8deg);		  	
	}
	46% {
		top:-10px;
		-moz-transform: scale(1.1);
		-moz-transform:rotate(0deg);		  	
	}
	70% {
		top:0;
		-moz-transform: scale(1);	
	}
	80% {
		top:0;
		-moz-transform: scale(1);
	}
	90% {
		top:0;
		-moz-transform: scale(1);
	}
	100% {
		top:0;
		-moz-transform: scale(1);
	}

}

@-webkit-keyframes animateBotons {
	0% {-webkit-transform: scale(1);}
	50% {-webkit-transform: scale(1.2);}
	100% {-webkit-transform: scale(1);}
}

.iluminaBoton:hover{
	background-color:#f4f4f4;
	box-shadow: inset 0px 0px 6px 4px #E6E6E6;
	-moz-box-shadow: inset 0px 0px 6px 4px #E6E6E6;
	-webkit-box-shadow: inset 0px 0px 6px 4px #E6E6E6;
}

.iluminaBoton{
	animation-name:animateShadow;
	animation-duration: 2500ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-name: animateBotons;
	-webkit-animation-duration: 2500ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	background-color:#f4f4f4;
	box-shadow: inset 0px 0px 6px 4px #E6E6E6;
	-moz-box-shadow: inset 0px 0px 6px 4px #E6E6E6;
	-webkit-box-shadow: inset 0px 0px 6px 4px #E6E6E6;
}

.iluminaText{
	-moz-box-shadow:inset 0px 0px 8px 0px #fff;
	-webkit-box-shadow:inset 0px 0px 8px 0px #fff;
	box-shadow:inset 0px 0px 8px 0px #fff;	
}



