* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 400;
  color: #333;
  overflow-y: hidden;
}

.center-text {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  background-color: #dedede;
  max-height: 50px;
}

footer p {
  font-weight: 300;
  font-size: 1.0em;
}

.ui.segment.no-margin {
  margin: 0 !important;
  border: 0 !important;
  border-radius: 0;
  padding-bottom: 8px !important;
}

.ui.segment.no-margin-absolute {
  margin: 0 !important;
  border: 0 !important;
  border-radius: 0;
  padding: 0 !important;
}

.padding-10 {
  padding: 20px !important;
}

h2.ribbon_header {
  font-size: 1rem !important;
  margin: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 5px !important;
  min-height: 30px;
  background-color: #71a3ba !important;
  box-shadow: 0 4px 4px #c9dfea !important;
}

#main_content {
  padding-bottom: 60px;
}

.list_span {
  display: inline;
  position: relative;
  top: 8px;
}

.card_selector {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.ui.input.error input {
  background-color: #FFF6F6 !important;
  border-color: #E0B4B4 !important;
  color: #9F3A38 !important;
  box-shadow: none !important;
}

.btn_invisible {
  display: none !important;
}

.element_media {
  min-height: 40px;
}

#main_layout {
  height: 100%;
}

.ui.form .fields {

}

.accordion {
  background-color: #f9f9f9 !important;
}

.ui.styled.accordion .active.title {
  background-color: #e1edef !important;
}

h3.ui.large.label {
  background-color: transparent !important;
}

h3.ui.header {
  font-size: 1.18rem !important;
}
